<!--mat-toolbar-row >
<p>{{titleHeader()}}</p>

<a mat-button routerLink="/welcome"> Page d'accueil </a> &nbsp;
<a mat-button routerLink="/signals"> Exercices Signals </a> &nbsp;
<a mat-button routerLink="/io"> Exercices input-ouput </a> &nbsp;
<a mat-button routerLink="/adduserv1"> UserForm-V1 </a> &nbsp;
<a mat-button routerLink="/adduserv2"> UserForm-V2 </a> &nbsp;
<a mat-button routerLink="/spacenews"> Space-News </a> &nbsp;
<a mat-button routerLink="/material"> Exercices Material </a> &nbsp;
<a mat-button routerLink="/observable"> Exemples Observables </a> &nbsp;
<a mat-button routerLink="/byebye"> Quitter </a>

</mat-toolbar-row-->

<nav class="navbar navbar-expand-sm bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{titleHeader()}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/welcome">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/byebye">Quitter</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Autres...
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/spacenews"> Space-News </a></li>
            <li><a class="dropdown-item" routerLink="/signals"> Exercices signals </a></li>
            <li><a class="dropdown-item" routerLink="/io"> Exercices Input-Output </a></li>
            <li><a class="dropdown-item" routerLink="/material"> Exercices Material </a></li>
            <li><a class="dropdown-item" routerLink="/observable"> Exemples Observables </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/adduserv1"> UserForm-V1 </a></li>
            <li><a class="dropdown-item" routerLink="/adduserv2"> UserForm-V2</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>