<mat-toolbar-row >
<p>{{titleHeader()}}</p>

<a mat-button routerLink="/welcome"> Page d'accueil </a> &nbsp;
<a mat-button routerLink="/signals"> Exercices Signals </a> &nbsp;
<a mat-button routerLink="/io"> Exercices input-ouput </a> &nbsp;
<a mat-button routerLink="/adduserv1"> UserForm-V1 </a> &nbsp;
<a mat-button routerLink="/adduserv2"> UserForm-V2 </a> &nbsp;
<a mat-button routerLink="/spacenews"> Space-News </a> &nbsp;
<a mat-button routerLink="/material"> Exercices Material </a> &nbsp;
<a mat-button routerLink="/observable"> Exemples Observables </a> &nbsp;
<a mat-button routerLink="/byebye"> Quitter </a>

</mat-toolbar-row>