<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
 @let userName=form.get('userName');
    <mat-form-field>
        <mat-label> Nom d'utilisateur </mat-label>
        <input matInput formControlName="userName">
         @if(userName?.touched){
            @if (userName?.hasError('required')) {
                <mat-error>Champs requis</mat-error>
            }
            @if (userName?.errors?.['minlength']) {
                <mat-error class="erreur">
                    Minimum {{userName?.errors?.['minlength'].requiredLength}} caractères
                    (actuellement {{userName?.errors?.['minlength'].actualLength}})
                </mat-error>
            }
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label> Prénom </mat-label>
        <input matInput formControlName="firstName" >
        <mat-error>Champ requis</mat-error> 
    </mat-form-field>

    <mat-form-field>
        <mat-label> Nom </mat-label>
        <input matInput formControlName="lastName" >
        <mat-error>Champ requis</mat-error> 
    </mat-form-field>

    <mat-form-field>
        <mat-label> Email </mat-label>
        <input  matInput formControlName="email" >
        <mat-error>Adresse email invalide</mat-error> 
    </mat-form-field>

    <mat-form-field>
        <mat-label> Mot de passe </mat-label>
        <input matInput formControlName="newPassword" type="password">
        <mat-error>Champ requis</mat-error> 
    </mat-form-field>


    <mat-form-field>
        <mat-label> Confirmation du mot de passe </mat-label>
        <input matInput formControlName="confirmPassword" type="password">
        @if(form.get('confirmPassword')?.touched && form.getError('differentPasswords')) {
            <span>Les deux mots de passe sont différents</span>
        }
    </mat-form-field>

    <div>
        <mat-label>Roles</mat-label>
        <div formArrayName="roles">
            @for(control of rolesArray.controls; track control){
                <mat-form-field>
                    <mat-select [formControl]="control">
                        @for(r of roles; track r){
                            <mat-option [value]="r">{{r}}</mat-option>
                        }
                    </mat-select>
                    
                </mat-form-field>
                <button mat-icon-button type="button" (click)="retirerRole($index)">
                    <mat-icon>delete</mat-icon>
                </button>
            }
        </div>
        
    </div>

    <div>
        <!--
            userForm.invalid : vrai si au moins un champ du formulaire est invalide.
            userForm.valid   : vrai si tous les champs passent leurs validateurs.
            userForm.pending : vrai si un async validator est en attente (non utilisé ici).
          -->
        <button mat-flat-button type="submit" [disabled]="form.invalid">Enregistrer</button>
        <button mat-stroked-button (click)="reset()">Réinitialiser</button>
        <button mat-stroked-button type="button" (click)="ajouterRole()"> 
            <mat-icon>add</mat-icon> Ajouter un rôle
        </button>
    </div>

</form>
